/*
    Project Name: Multi Purpose Template
    Designed By: atkhssn - MD ATIK HASSAN
    Version: 1.0.1
    Copyright: XIT
*/

/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

/* browser settings */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/* site button */
.site-btn{
    background-color: #e84545;
    padding: 13px 25px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 13pt;
    color: #fff;
    transition: all .2s ease-in;
}

/* button hover */
.site-btn:hover{
    border: 1px solid #fff !important;
}

/* site title */
.site-title{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15pt;
    margin: 10px 0;
    color: #2d3033;
}

/* site paragraph */
.site-paragraph{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    color: #6c7279;
}

/* menu button*/
.menu-btn{
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    transition: all .2s ease-in;
}

/* menu button hover */
.menu-btn:hover{
    color: #e84545;
    border-color: #e84545;
}

/* -b- navbar-toggle css overloading */
.menu-btn:focus{
    border: 2px solid !important;
    box-shadow: none !important;
}

/* menu font size */
.menu-text{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13pt;
    transition: all .2s ease-in;
    color: #fff;
}

/* menu hover */
.menu-text:hover{
    color: #e84545;
}

/* heading text font size */
.heading-text{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55pt;
}

/* sub heading font size */
.sub-heading-text{
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
}

/* banner */
.banner{
    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header bottom border */
.header{
    border-bottom: 1px solid #fff;
    transition: all .2s ease-in;
}

/* sticky Header */
.sticky-header{
    background-color: #3a3e64;
    transition: all .2s ease-in;
}

/* features content box css */
.features-content-box{
    padding: 0 5px;
}

/* works content box css */
.works-content-box{
    position: relative;
    content: '';
    overflow: hidden;
}

/* works overlay */
.works-content-box > .works-content-box-overlay{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e84545;
    opacity: .85;
    visibility: hidden;
    transition: all .2s ease-in;
}

.works-content-box:hover  .works-content-box-overlay{
    visibility: visible;
    transform: rotate(360deg);
}

/* works overlay content */
.works-content-box > .works-content-box-overlay > .works-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

/* back to top */
.back-to-top{
    background-color: #3a3e64;
    margin-left: auto;
    right: 50px;
    bottom: 50px;
    z-index: 999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    visibility: hidden;
    transition: all .2s ease-in;
}

/* project-title */
.project-title{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14pt;
    color: #fff;
}

/* project-details */
.project-details{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13pt;
    color: #fff;
}

/* team content box */
.team-content-box{
    padding: 20px;
}

/* team image */
.team-img{
    width: 100%;
}

/* team title css */
.team-title{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18pt;
    color: #2d3033;
}

/* team sub title css */
.team-sub-title{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13pt;
    color: #e84545;
}

/* team paragraph css */
.team-paragraph{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #6c7279;
}

/* team social icon css */
.team-social-icon{
    margin-top: 50px;
}

/* social media icon css */
.team-social-icon > div.icon{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    padding: 15px;
    border: 1px solid #c6cacc;
    text-align: center;
    line-height: 1;
    transition: all .2s ease-in;
}

/* social icon link css */
.team-social-icon > div.icon a{
    font-size: 13pt;
    color: #c6cacc !important;
    transition: all .2s ease-in;
}

/* social icon hover effect css */
.team-social-icon > div.icon:hover{
    border: 1px solid #e84545;
}

/* social icon hover effect css */
.team-social-icon > div.icon:hover > a{
    color: #e84545 !important;
}

/* testimonial left css */
.testimonial-start{
    background-image: url(../img/section-banner-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 20pt;
}

/* testimonials right css */
.testimonial-end{
    background-image: url(../img/section-banner-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 20pt;
}

/* testimonials content box css */
.testimonial-end > .testimonial-content > .testimonial-content-box {
    margin: 0 auto;
    padding: 30px 0;
    
}

/* testimonial quote css */
.testimonial-end > .testimonial-content > .testimonial-content-box > p.testimonial-quote{
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 33pt;
    font-weight: 400;
    color: #fff;
    padding: 15px 30px;
    line-height: 1;
}

/* testimonial title css */
.testimonial-end > .testimonial-content > .testimonial-content-box > p.testimonial-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 11pt;
    color: #fff;
    padding: 10px 30px;
}

/* download heading css */
.download-content-box > div > h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 28pt;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #2d3033;
}

/* download sub heading css */
.download-content-box > div > h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13pt;
    padding: 0;
    margin: 20px 0 50px;
    line-height: 1;
    color: #2d3033;
}

/* back to top visibility */
.backToTop{
    visibility: visible;
    transition: all .2s ease-in;
}